.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal-content {
  width: 80%;
  max-width: 800px;
  height: 500px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.auth-modal-layout {
  width: 100%;
  height: 100%;
  display: flex;
  transition: flex-direction 0.3s ease;
}

.auth-modal-layout.login-mode {
  flex-direction: row;
}

.auth-modal-layout.register-mode {
  flex-direction: row-reverse;
}

.auth-image-container {
  width: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.auth-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 4, 4, 0.144);
  backdrop-filter: blur(5x);
}

.auth-form-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.auth-modal h2 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.auth-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.auth-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.auth-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0),
    0 0 50px rgb(104, 1, 1), 0 0 100px rgb(0, 140, 255);
}

.auth-form p {
  color: #fff;
  margin-top: 15px;
  text-align: center;
}

.auth-form span {
  color: rgb(245, 70, 70);
  cursor: pointer;
  text-decoration: none;
}

.auth-form span:hover {
  text-decoration: underline;
}
